node_modules/
generate/feed
/generate/updatePrices/
/public/temp/data/*.json
/services/feed-downloader/*.txt
/public/temp/*.xml
.env
/services/scratch/apilo/
/services/scratch/apilo/podlasiakApiloTokens
/services/scratch/device
/services/scratch/myFirstKey
/services/scratch/tokens
/services/shopify.js